@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fcf8e9;
}

#container-attemps {
    font-size: 1.4em;
    background-color: #fbda46;
    margin-right: 4em;
    padding: 0.5em 2em;
    border-radius: 8px;
    -webkit-box-shadow: 0 0.5px 32px 3.5px #e6e4e4;
    -moz-box-shadow: 0 0.5px 32px 3.5px #e6e4e4;
    box-shadow: 0 0.5px 32px 3.5px #e6e4e4;
}

#displayAttemps {
    font-weight: bold;
}

#container {
    background-color: #FAE588;
    width: 35%;
    /* height: 45%; */
    border-radius: 20px;
    -webkit-box-shadow: 0 0.5px 32px 3.5px #e6e4e4;
    -moz-box-shadow: 0 0.5px 32px 3.5px #e6e4e4;
    box-shadow: 0 0.5px 32px 3.5px #e6e4e4;
}

.container-number {
    background-color: #fbda46;
    height: 17em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 20px 0 0;
}

#displayNumber {
    background-color: #FAE588;
    font-size: 7em;
    padding: 0 0.5em;
    border-radius: 8px;
    cursor: pointer;
    transition: 1s;
}

#displayNumber:hover {
    transform: scale(1.2,1.2);
}

.container-content h2 {
    margin: 1em 0;
    text-align: center;
    font-size: 1.7em;
}

.container-content form {
    display: flex;
    justify-content: center;
    padding: 2em 0;
    /* background-color: red; */
}

#inputNumber {
    margin: 0 3em;
    padding: 0.6em 1em;
    width: 35%;
    border: none;
    border-radius: 8px;
    outline: none;
}

#inputNumber:focus {
    outline: 2px solid black;
}

#btnCheck,
#btnReset {
    border: none;
    border-radius: 8px;
    outline: none;
    padding: 1em 2em;
    background-color: #d1b122;
    transition: 1s;
    cursor: pointer;
}

#btnCheck:hover, 
#btnReset:hover {
    transform: scale(1.1,1.1);
}

#btnReset {
    display: none;
}


